[submodule "submodules/tinyxml2"]
	path = Symmetri/submodules/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "Symmetri/submodules/immer"]
	path = Symmetri/submodules/immer
	url = https://github.com/arximboldi/immer.git
